.headerContent,
.headerContent1 {
  width: 521px;
  height: 521px;
  position: absolute;
  margin: 0 !important;
  border-radius: 50%;
  background-color: var(--color-mediumvioletred);
  filter: blur(892.27px);
}
.headerContent {
  bottom: 1296px;
  left: -82px;
}
.headerContent1 {
  top: 1126px;
  left: -189px;
}
.artboard11,
.frameIcon {
  position: absolute;
  object-fit: cover;
}
.artboard11 {
  top: -30px;
  left: -129px;
  width: 1836px;
  height: 947px;
  mix-blend-mode: color-dodge;
}
.frameIcon {
  top: 55.7px;
  left: 100px;
  width: 45.8px;
  height: 34.9px;
  overflow: hidden;
  z-index: 1;
}
.designShape,
.visualContentChild {
  position: absolute;
  top: 62.1px;
  left: 1317.8px;
  width: 20.8px;
  height: 22px;
  z-index: 1;
}
.designShape {
  top: 85px;
  left: -107px;
  border-radius: 50%;
  background-color: var(--color-mediumvioletred);
  filter: blur(584px);
  width: 341px;
  height: 341px;
  z-index: 2;
}
.visualContent {
  width: 100%;
  height: 917px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
}
.chooseYourFavoriteContainer1 {
  width: 100%;
}
.chooseYourFavoriteContainer,
.offerSneakPeeks {
  position: relative;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
}
.chooseYourFavoriteContainer {
  margin: 0;
  width: 718px;
  height: 154px;
  font-size: inherit;
  line-height: 116.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.offerSneakPeeks {
  height: 60px;
  width: 518px;
  line-height: 185.1%;
  flex-shrink: 0;
}
.offerSneakPeeksAndPreviewsWrapper {
  width: 618px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-81xl);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  font-family: var(--font-lato);
}
.chooseYourFavoriteGamesParent,
.featuredContent,
.featuredContentInner {
  height: 226px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chooseYourFavoriteGamesParent {
  width: 718px;
  flex-direction: column;
  gap: var(--gap-xs);
}
.featuredContent,
.featuredContentInner {
  width: 1079px;
  flex-direction: row;
  padding: 0 0 0 361px;
  box-sizing: border-box;
}
.featuredContent {
  width: 1440px;
  height: 994.9px;
  flex-direction: column;
  padding: 0 0 88.9px;
  gap: 40.1px;
  text-align: left;
  font-size: var(--font-size-47xl);
  color: var(--color-white);
  font-family: var(--font-ondo);
}
.discoverTheVirtualContainer1 {
  width: 100%;
}
.discoverTheVirtualContainer {
  margin: 0;
  height: 168px;
  width: 531px;
  position: relative;
  font-size: inherit;
  line-height: 116.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 2;
}
.designShape1 {
  position: absolute;
  top: 10px;
  left: 1166px;
  border-radius: 50%;
  background-color: var(--color-mediumvioletred);
  filter: blur(892.27px);
  width: 521px;
  height: 521px;
}
.imageContainerIcon {
  position: absolute;
  top: 22px;
  left: -61px;
  border-radius: 76px;
  width: 1386px;
  height: 640px;
  object-fit: cover;
  z-index: 1;
}
.image231Transformed11 {
  position: absolute;
  top: 0;
  left: 6px;
  width: 699px;
  height: 617px;
  object-fit: contain;
  z-index: 3;
}
.visualElements {
  height: 662px;
  width: 1352px;
  position: absolute;
  margin: 0 !important;
  bottom: -348px;
  left: -689px;
}
.discoverTheVirtualRealityGParent {
  width: 531px;
  height: 168px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.aWellDesignedGaming {
  width: 463px;
  height: 120px;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.04em;
  line-height: 185.1%;
  font-family: var(--font-lato);
  display: flex;
  align-items: center;
  z-index: 2;
}
.frameGroup,
.frameWrapper {
  height: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  width: 531px;
  flex-direction: column;
  gap: var(--gap-xs);
}
.frameWrapper {
  width: 545px;
  flex-direction: row;
  padding: 0 0 0 14px;
  box-sizing: border-box;
}
.callToActionChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 232px;
  height: 74px;
  z-index: 2;
}
.playNow {
  position: absolute;
  top: 26px;
  left: 60px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-family: var(--font-ondo);
  text-align: left;
  z-index: 3;
}
.callToAction {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 232px;
  height: 74px;
  position: relative;
}
.frameParent,
.vRContent {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  height: 409px;
  width: 545px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 35px;
}
.vRContent {
  width: 677px;
  height: 463.9px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 132px 54.9px 0;
  box-sizing: border-box;
  font-size: 48px;
}
.featureIcon,
.gamingSpaning {
  position: relative;
  flex-shrink: 0;
  debug_commit: afebfb9;
}
.featureIcon {
  height: 44.4px;
  width: 44.4px;
  object-fit: cover;
}
.gamingSpaning {
  margin: 0;
  width: 357px;
  height: 41px;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.featureIconParent,
.gamingSpaningWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.gamingSpaningWrapper {
  height: 42.2px;
  width: 357px;
  flex-direction: column;
  padding: var(--padding-11xs-2) 0 0;
  box-sizing: border-box;
}
.featureIconParent {
  height: 44.4px;
  width: 423.7px;
  flex-direction: row;
  gap: var(--gap-3xl-3);
}
.featureIcon1 {
  height: 44.4px;
  width: 44.4px;
  position: relative;
  object-fit: cover;
}
.actionPacked {
  margin: 0;
  width: 362px;
  height: 41px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.actionPackedWrapper,
.featureIconGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actionPackedWrapper {
  height: 42.2px;
  width: 362px;
  flex-direction: column;
  padding: var(--padding-11xs-2) 0 0;
  box-sizing: border-box;
}
.featureIconGroup {
  height: 44.4px;
  width: 428.7px;
  flex-direction: row;
  gap: var(--gap-3xl-3);
}
.featureIcon2 {
  height: 44.4px;
  width: 44.4px;
  position: relative;
  object-fit: cover;
}
.mindBending {
  margin: 0;
  width: 329px;
  height: 41px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.featureIconContainer,
.mindBendingWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mindBendingWrapper {
  height: 42.2px;
  width: 329px;
  flex-direction: column;
  padding: var(--padding-11xs-2) 0 0;
  box-sizing: border-box;
}
.featureIconContainer {
  height: 44.4px;
  width: 395.7px;
  flex-direction: row;
  gap: var(--gap-3xl-2);
}
.collectionOgGames,
.featureIcon3 {
  position: relative;
  flex-shrink: 0;
  debug_commit: afebfb9;
}
.featureIcon3 {
  height: 44.4px;
  width: 44.4px;
  object-fit: cover;
}
.collectionOgGames {
  margin: 0;
  width: 486px;
  height: 41px;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.collectionOgGamesWrapper {
  height: 42.2px;
  width: 486px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-2) 0 0;
  box-sizing: border-box;
}
.groupDiv,
.headerContent2 {
  height: 44.4px;
  flex-direction: row;
  justify-content: flex-start;
}
.groupDiv {
  width: 552.7px;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-3xl-3);
}
.headerContent2 {
  margin-right: -167px;
  margin-bottom: 66.5px;
  width: 1912px;
  gap: var(--gap-43xl-9);
}
.categoryHeader,
.gameCategories,
.headerContent2 {
  display: flex;
  align-items: flex-start;
}
.categoryHeader {
  height: 1430px;
  width: 1245px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 77px;
}
.gameCategories {
  width: 1340px;
  height: 1450.9px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-76xl) 20.9px 0;
  box-sizing: border-box;
}
.frameChild,
.gamingSpaning1 {
  position: relative;
  flex-shrink: 0;
  debug_commit: afebfb9;
}
.frameChild {
  height: 44.4px;
  width: 44.4px;
  object-fit: cover;
}
.gamingSpaning1 {
  margin: 0;
  width: 357px;
  height: 41px;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.gamingSpaningContainer,
.starParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.gamingSpaningContainer {
  height: 42.2px;
  width: 357px;
  flex-direction: column;
  padding: var(--padding-11xs-2) 0 0;
  box-sizing: border-box;
}
.starParent {
  height: 44.4px;
  width: 423.7px;
  flex-direction: row;
  gap: var(--gap-3xl-3);
}
.frameItem {
  height: 44.4px;
  width: 44.4px;
  position: relative;
  object-fit: cover;
}
.actionPacked1 {
  margin: 0;
  width: 362px;
  height: 41px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.actionPackedContainer,
.starGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actionPackedContainer {
  height: 42.2px;
  width: 362px;
  flex-direction: column;
  padding: var(--padding-11xs-2) 0 0;
  box-sizing: border-box;
}
.starGroup {
  height: 44.4px;
  width: 428.7px;
  flex-direction: row;
  gap: var(--gap-3xl-3);
}
.frameInner {
  height: 44.4px;
  width: 44.4px;
  position: relative;
  object-fit: cover;
}
.mindBending1 {
  margin: 0;
  width: 329px;
  height: 41px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.mindBendingContainer,
.starContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mindBendingContainer {
  height: 42.2px;
  width: 329px;
  flex-direction: column;
  padding: var(--padding-11xs-2) 0 0;
  box-sizing: border-box;
}
.starContainer {
  height: 44.4px;
  width: 395.7px;
  flex-direction: row;
  gap: var(--gap-3xl-2);
}
.collectionOgGames1,
.starIcon {
  position: relative;
  flex-shrink: 0;
  debug_commit: afebfb9;
}
.starIcon {
  height: 44.4px;
  width: 44.4px;
  object-fit: cover;
}
.collectionOgGames1 {
  margin: 0;
  width: 486px;
  height: 41px;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.collectionOgGamesContainer,
.headerContent3,
.starParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.collectionOgGamesContainer {
  height: 42.2px;
  width: 486px;
  flex-direction: column;
  padding: var(--padding-11xs-2) 0 0;
  box-sizing: border-box;
}
.headerContent3,
.starParent1 {
  height: 44.4px;
  width: 552.7px;
  flex-direction: row;
  gap: var(--gap-3xl-3);
}
.headerContent3 {
  margin-right: -276px;
  margin-bottom: 9.5px;
  width: 1989px;
  gap: var(--gap-43xl-9);
  z-index: 1;
}
.image2411,
.pageContentIcon {
  position: absolute;
  object-fit: cover;
}
.image2411 {
  top: 0;
  left: -58px;
  width: 1730px;
  height: 529px;
  mix-blend-mode: color-dodge;
}
.pageContentIcon {
  top: 138.9px;
  left: 100px;
  width: 59.2px;
  height: 45.1px;
  overflow: hidden;
  z-index: 1;
}
.graphicElementIcon,
.groupIcon {
  position: absolute;
  top: 365px;
  left: 97px;
  width: 99px;
  height: 32.9px;
  z-index: 1;
}
.groupIcon {
  top: 366.2px;
  left: 244px;
  width: 167px;
  height: 29.1px;
}
.designElementIcon,
.groupIcon1 {
  position: absolute;
  top: 367px;
  left: 449px;
  width: 147px;
  height: 29px;
  z-index: 1;
}
.groupIcon1 {
  top: 368px;
  left: 636px;
  height: 31.1px;
}
.backgroundImageChild,
.visualElementsIcon {
  position: absolute;
  top: 375px;
  left: 823px;
  width: 147px;
  height: 23.7px;
  z-index: 1;
}
.visualElementsIcon {
  top: 458px;
  left: 109px;
  width: 28px;
  height: 28px;
}
.visualElementsIcon1,
.visualElementsIcon2,
.visualElementsIcon3 {
  position: absolute;
  top: 458px;
  left: 149px;
  width: 28px;
  height: 28px;
  z-index: 1;
}
.visualElementsIcon2,
.visualElementsIcon3 {
  left: 189px;
}
.visualElementsIcon3 {
  left: 229px;
}
.backgroundImage {
  width: 100%;
  height: 529px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
}
.ciTestGaming {
  width: 100%;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: #2d1e6b;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 56.3px 0 47px;
  box-sizing: border-box;
  gap: 87.1px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-18xl);
  color: var(--color-white);
  font-family: var(--font-ondo);
}
@media screen and (max-width: 800px) {
  .ciTestGaming {
    gap: 44px;
  }
}
@media screen and (max-width: 450px) {
  .ciTestGaming {
    gap: 22px;
  }
}
