.quoteBoxIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.clientInfoPanelChild,
.oneOfThe {
  width: 129px;
  height: 25px;
  position: relative;
  z-index: 1;
}
.oneOfThe {
  width: 524px;
  height: 150px;
  letter-spacing: 0.04em;
  line-height: 185.1%;
  display: flex;
  align-items: center;
}
.clientInfoPanel {
  width: 524px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.reviewDivider {
  width: 529px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  z-index: 1;
}
.reviewerAvatarsIcon {
  height: 61.7px;
  width: 61.7px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.arleneMccoy,
.mcdonalds {
  width: 140px;
  height: 23px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.mcdonalds {
  width: 65px;
  height: 13px;
  font-size: var(--font-size-xs-6);
}
.reviewerNameContainers {
  width: 140px;
  height: 45.6px;
  flex-direction: column;
  gap: var(--gap-3xs-6);
}
.reviewerDetails,
.reviewerNameContainers,
.reviewerNameContainersWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reviewerNameContainersWrapper {
  height: 50.3px;
  width: 140px;
  flex-direction: column;
  padding: var(--padding-8xs-7) 0 0;
  box-sizing: border-box;
}
.reviewerDetails {
  height: 61.7px;
  width: 213.4px;
  flex-direction: row;
  gap: var(--gap-xs-7);
}
.frameChild,
.verified {
  height: 23.7px;
  width: 24.8px;
  position: relative;
  flex-shrink: 0;
  debug_commit: afebfb9;
  z-index: 1;
}
.verified {
  width: 54px;
  height: 16px;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
}
.reviewStatusLabels {
  height: 19.7px;
  width: 54px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-7);
  box-sizing: border-box;
}
.frameParent {
  width: 84.8px;
  height: 23.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.reviewValidation {
  height: 39.7px;
  width: 84.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  font-size: var(--font-size-mini-6);
}
.reviewCards,
.reviewerInfoCards {
  height: 61.7px;
  display: flex;
  flex-direction: row;
}
.reviewerInfoCards {
  width: 515.8px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-198xl-6);
}
.reviewCards {
  width: 520px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs-2) 0 0;
  box-sizing: border-box;
}
.reviewDividerParent {
  width: 528px;
  height: 87.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  font-size: var(--font-size-2xl);
}
.quoteBlockChild {
  width: 100.3px;
  height: 78.6px;
  position: absolute;
  margin: 0 !important;
  top: -43px;
  right: 42.7px;
  z-index: 1;
}
.quoteBlock {
  height: 388px;
  width: 607px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-39xl) var(--padding-17xl) var(--padding-14xl-3);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-10xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-lato);
}
