.welcomeToTheContainer1 {
  width: 100%;
}
.welcomeToTheContainer {
  margin: 0;
  height: 154px;
  width: 718px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 116.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.welcomeToTheTopGamesWrapper {
  width: 784px;
  height: 154px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-47xl);
  box-sizing: border-box;
}
.frameChild {
  height: 64px;
  width: 241px;
  position: relative;
  object-fit: cover;
  display: none;
}
.mewestGames {
  height: 20px;
  width: 153px;
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 800;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.vectorParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xl) var(--padding-24xl);
  background-color: transparent;
  height: 64px;
  width: 241px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  background-image: url(/public/rectangle-12@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-shrink: 0;
  debug_commit: afebfb9;
}
.gameTypeButtonsChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 221px;
  height: 64px;
  z-index: 2;
}
.latestGames {
  position: absolute;
  top: 22px;
  left: 39px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
  z-index: 3;
}
.gameTypeButtons {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 64px;
  width: 221px;
  position: relative;
  flex-shrink: 0;
  debug_commit: afebfb9;
  margin-left: -9px;
}
.gameTypeButtonsItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 221px;
  height: 64px;
  z-index: 3;
}
.fightGames {
  position: absolute;
  top: 22px;
  left: 41px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
  z-index: 4;
}
.gameTypeButtons1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 64px;
  width: 226px;
  position: relative;
  flex-shrink: 0;
  debug_commit: afebfb9;
  margin-left: -9px;
}
.gameTypeButtonsInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 211px;
  height: 64px;
  z-index: 4;
}
.sportGames {
  position: absolute;
  top: 22px;
  left: 41px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
  z-index: 5;
}
.gameTypeButtons2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 64px;
  width: 211px;
  position: relative;
  flex-shrink: 0;
  debug_commit: afebfb9;
  margin-left: -9px;
}
.categoryHeaderInner,
.frameParent,
.gameCategoriesPanel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.gameCategoriesPanel {
  width: 874px;
  height: 64px;
  flex-direction: row;
}
.categoryHeaderInner,
.frameParent {
  height: 239px;
}
.frameParent {
  width: 874px;
  flex-direction: column;
  gap: var(--gap-2xl);
}
.categoryHeaderInner {
  width: 1057px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-164xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-47xl);
  color: var(--color-white);
  font-family: var(--font-ondo);
}
