.board,
.products {
  display: inline-block;
}
.board {
  height: 34px;
  width: 98px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  z-index: 1;
}
.products {
  font-weight: 800;
  min-width: 103px;
}
.about,
.appsGames,
.features,
.products,
.support {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 20px;
  text-transform: uppercase;
  z-index: 1;
}
.appsGames {
  white-space: nowrap;
}
.about,
.features,
.support {
  display: inline-block;
  min-width: 93px;
}
.about,
.support {
  min-width: 86px;
}
.about {
  min-width: 66px;
}
.navigationItems,
.navigationItemsWrapper {
  width: 641px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigationItems {
  height: 20px;
  flex-direction: row;
  gap: var(--gap-21xl);
}
.navigationItemsWrapper {
  height: 26.8px;
  flex-direction: column;
  padding: var(--padding-6xs-8) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-lg);
  font-family: var(--font-lato);
}
.navigation,
.navigationWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.navigation {
  height: 34px;
  width: 952px;
  justify-content: flex-start;
  gap: var(--gap-194xl);
}
.navigationWrapper {
  width: 1287.2px;
  height: 66.5px;
  justify-content: flex-end;
  padding: 0 var(--padding-316xl-2) var(--padding-13xl-5) 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-11xl-8);
  color: var(--color-white);
  font-family: var(--font-ondo);
}
