.teamMemberCardsChild,
.teamMemberCardsItem {
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.teamMemberCardsChild {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.teamMemberCardsItem {
  width: 361px;
  height: 265px;
  position: relative;
  z-index: 1;
}
.corePhilosophies {
  width: 204px;
  height: 27px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.memberAvatarsIcon {
  height: 53px;
  width: 53px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.cameronWilliamson,
.gillette {
  width: 175px;
  height: 20px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.gillette {
  width: 34px;
  height: 11px;
  font-size: var(--font-size-3xs);
}
.memberNameContainers {
  width: 175px;
  height: 39px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.memberAvatarsParent,
.memberNameContainers,
.memberNameContainersWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.memberNameContainersWrapper {
  height: 43px;
  width: 175px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.memberAvatarsParent {
  width: 238px;
  height: 53px;
  flex-direction: row;
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
}
.memberDataContainers,
.memberDetailContainers {
  height: 98px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.memberDetailContainers {
  width: 238px;
  flex-direction: column;
  gap: var(--gap-lg);
}
.memberDataContainers {
  width: 245px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-6xs);
  box-sizing: border-box;
}
.frameChild {
  height: 52px;
  width: 361px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.liveDemo {
  height: 21.7px;
  width: 99px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 800;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.memberInfoPanels,
.teamMemberCards,
.vectorParent {
  width: 361px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vectorParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-2) var(--padding-112xl) var(--padding-base-1);
  background-color: transparent;
  height: 52px;
  flex-direction: row;
  box-sizing: border-box;
  background-image: url(/public/rectangle-13@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.memberInfoPanels,
.teamMemberCards {
  height: 176px;
  flex-direction: column;
  gap: var(--gap-7xl);
}
.teamMemberCards {
  height: 537px;
  width: 397px;
  padding: var(--padding-xl) var(--padding-lg) var(--padding-27xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
