.letYourMindContainer1 {
  width: 100%;
}
.letYourMindContainer {
  height: 228px;
  width: 578.1px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 3;
}
.letYourMindExploreNewWorlWrapper {
  width: 581.1px;
  height: 228px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.playingElectronicGames {
  height: 105px;
  width: 602px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 185.1%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.buttons,
.description {
  width: 605px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.description {
  height: 105px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.buttons {
  height: 211.8px;
  flex-direction: column;
  gap: var(--gap-13xl-8);
}
.customerAvatars {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
}
.customerAvatarsWrapper {
  width: 100.5px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-smi-5);
  box-sizing: border-box;
}
.uniqueStyle {
  width: 113px;
  height: 35px;
  position: relative;
  font-size: var(--font-size-lg-7);
  letter-spacing: 0.04em;
  line-height: 185.1%;
  text-transform: capitalize;
  font-family: var(--font-lato);
  display: flex;
  align-items: center;
}
.customerCards {
  height: 73px;
  width: 113px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.b {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
}
.wrapper {
  width: 116px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xl);
  box-sizing: border-box;
}
.projectFinished {
  width: 144px;
  height: 35px;
  position: relative;
  font-size: var(--font-size-lg-7);
  letter-spacing: 0.04em;
  line-height: 185.1%;
  text-transform: capitalize;
  font-family: var(--font-lato);
  display: flex;
  align-items: center;
}
.customerCards1 {
  height: 73px;
  width: 144px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.b1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
}
.container {
  width: 118.5px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xl-5);
  box-sizing: border-box;
}
.happyCustomer {
  width: 149px;
  height: 35px;
  position: relative;
  font-size: var(--font-size-lg-7);
  letter-spacing: 0.04em;
  line-height: 185.1%;
  text-transform: capitalize;
  font-family: var(--font-lato);
  display: flex;
  align-items: center;
}
.customerCards2 {
  height: 73px;
  width: 149px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.testimonialsDisplay {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-12xl);
  max-width: 100%;
  z-index: 1;
}
.callToAction,
.testimonialsDisplay,
.testimonialsDisplayWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonialsDisplayWrapper {
  width: 471px;
  height: 73px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  font-size: var(--font-size-11xl);
  font-family: var(--font-ondo);
}
.callToAction {
  width: 605px;
  height: 350.8px;
  flex-direction: column;
  gap: var(--gap-47xl);
  font-size: var(--font-size-lg-7);
  font-family: var(--font-lato);
}
.frameChild {
  margin-left: -185.10000000000036px;
  width: 1613.1px;
  height: 145.7px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.frameParent {
  width: 1440px;
  height: 757px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-base-3);
  text-align: left;
  font-size: var(--font-size-49xl-9);
  color: var(--color-white);
  font-family: var(--font-ondo);
}
@media screen and (max-width: 800px) {
  .b,
  .b1,
  .customerAvatars {
    font-size: var(--font-size-5xl);
    line-height: 27px;
  }
  .testimonialsDisplay {
    gap: var(--gap-mini);
  }
}
@media screen and (max-width: 450px) {
  .b,
  .b1,
  .customerAvatars {
    font-size: var(--font-size-lg);
    line-height: 20px;
  }
}
