.memberPhotoIcon,
.teamMemberCardsChild {
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.teamMemberCardsChild {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.memberPhotoIcon {
  height: 265px;
  width: 361px;
  position: relative;
  z-index: 2;
}
.memberPhotoWrapper {
  width: 362px;
  height: 265px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.corePhilosophies {
  width: 204px;
  height: 27px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  z-index: 2;
}
.frameChild {
  height: 53px;
  width: 53px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}
.codyFisher,
.theWaltDisney {
  width: 101px;
  height: 20px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  z-index: 2;
}
.theWaltDisney {
  width: 125px;
  height: 11px;
  font-size: var(--font-size-3xs);
}
.codyFisherParent {
  width: 125px;
  height: 39px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameContainer {
  height: 43px;
  width: 125px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.corePhilosophiesParent,
.ellipseParent,
.frameContainer,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipseParent {
  width: 188px;
  height: 53px;
  flex-direction: row;
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
}
.corePhilosophiesParent,
.frameWrapper {
  height: 98px;
}
.corePhilosophiesParent {
  width: 204px;
  flex-direction: column;
  gap: var(--gap-lg);
}
.frameWrapper {
  width: 211px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-6xs);
  box-sizing: border-box;
}
.frameItem {
  height: 52px;
  width: 361px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.liveDemo {
  height: 21.7px;
  width: 99px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 800;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.vectorParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-2) var(--padding-112xl) var(--padding-base-1);
  background-color: transparent;
  width: 361px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  background-image: url(/public/rectangle-13@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}
.frameParent {
  width: 361px;
  height: 176px;
  flex-direction: column;
  gap: var(--gap-7xl);
}
.frameParent,
.teamMemberCards,
.teamMemberGrid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.teamMemberCards {
  height: 537px;
  width: 397px;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-mid) var(--padding-27xl)
    var(--padding-lg);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-11xl);
}
.teamMemberGrid {
  width: 1245px;
  height: 1114px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px 25px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
