.pageHeaderIcon {
  height: 100%;
  width: 1453px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 74px;
  bottom: 0;
  max-height: 100%;
  object-fit: cover;
}
.featureIndicatorsIcon {
  height: 36px;
  width: 36px;
  position: relative;
  object-fit: cover;
}
.gamingSpaning {
  margin: 0;
  width: 289px;
  height: 33px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.featureIndicatorsParent,
.gamingSpaningWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.gamingSpaningWrapper {
  height: 34px;
  width: 289px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.featureIndicatorsParent {
  height: 36px;
  width: 343px;
  flex-direction: row;
  gap: var(--gap-lg);
}
.frameChild {
  height: 36px;
  width: 36px;
  position: relative;
  object-fit: cover;
}
.actionPacked {
  margin: 0;
  width: 293px;
  height: 33px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.actionPackedWrapper,
.starParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actionPackedWrapper {
  height: 34px;
  width: 293px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.starParent {
  height: 36px;
  width: 347px;
  flex-direction: row;
  gap: var(--gap-lg);
}
.frameItem {
  height: 36px;
  width: 36px;
  position: relative;
  object-fit: cover;
}
.mindBending {
  margin: 0;
  width: 266px;
  height: 33px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.mindBendingWrapper,
.starGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mindBendingWrapper {
  height: 34px;
  width: 266px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.starGroup {
  height: 36px;
  width: 320px;
  flex-direction: row;
  gap: var(--gap-lg);
}
.frameInner {
  height: 36px;
  width: 36px;
  position: relative;
  object-fit: cover;
}
.collectionOgGames {
  margin: 0;
  width: 394px;
  height: 33px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 110.6%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.collectionOgGamesWrapper {
  height: 34px;
  width: 394px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.featureCarousel,
.pageHeaderParent,
.starContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.starContainer {
  height: 36px;
  width: 448px;
  gap: var(--gap-lg);
}
.featureCarousel,
.pageHeaderParent {
  width: 1611px;
  z-index: 1;
}
.featureCarousel {
  height: 36px;
  gap: var(--gap-32xl);
}
.pageHeaderParent {
  margin-right: -87px;
  margin-bottom: 20.600000000000364px;
  height: 90px;
  padding: var(--padding-8xl) 0;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-ondo);
}
